@import "bootstrap";

/*Site wide*/

/*$firebrick: #b22222*/
/*$Gold: #fdd700;*/

html {
	overflow-y: scroll; 
}
body {
	padding-top: 60px;/*the distance btn h1 and navbar*/
}
section {
	overflow: auto;
}
textarea {
	resize: vertical;
}
.center{
	text-align: center;
}
.center {
margin-bottom: 10px;
}
/*Topography*/
h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}
h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}
h2 {
	font-size: 1.7em;
	letter-spacint: -1px;
	margin-bottom: 3px;
	text-align: center;
	font-weight: normal;/*kinda places the h2 in one contineuous line*/
	color: #999;
}
p {
	font-size: 1.1em;
	line-height: 1.7em;
}
/*header*/
#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #fff;
	text-transform: lowercase;
	letter-spacing: -1px;
	font-weight: bold;
	line-height : 1; 
}
#logo:hover {
	color: #ffd700;
	text-decoration: none;
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

/*footer*/
footer{
	margin-top: 100px;
	padding-top: 5px;
	border-top: 1px solid #b22222;/*border btn footer and the 'body' above*/
	color: #999;
}
footer a:hover {
	color: #cd5c5c;
}
footer small {
	float: left;
}
footer ul {
	float: right;
	list-style: none;
}
footer ul li {
	float: left;
	margin-left: 10px;
}
/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
 
}

input {
  height: auto !important;
}
/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar{
	float: left;
	margin-right: 10px;
}
.microposts {
	list-style: none;
	margin: 10px 0 0 0;
	li{
	padding: 10px 0;
	border-top: 2px dotted #e8e8e8;
	}
}
.content {
	display: block;
}
.timestamp {
	color: #A52A2A;

}
.gravatar {
	float: left;
	margin-right: 10px
}
aside{
	textarea{
	height: 100px;
	margin-bottom: 15px
	}
}